template(name="gamePageActions")
  h3
    #{name}
    span.small (#{author})
    
  unless gameReady
    unless inGame
      a.btn.btn-success.join.action-button(href="#") Join game

  if gameReady
    if ownGame
      a.btn.btn-success.start.action-button(href="#") Start game
    else
      Game full!

  if inGame
    a.btn.btn-danger.leave.action-button(href="#") Leave game

  if ownGame
    a.btn.btn-danger.delete.action-button(href="#") Cancel game


template(name="players")
  h4 Players:
  ul
  each this
    li #{name}
