<template name="gamePage">
	{{> gameItem}}
	{{> gameChat}}
</template>

<template name="gameItem">
	<div>
		<div>
			<h3>{{name}} <span class="small">({{author}})</span></h3>
		</div>
	</div>
</template>

<template name="gamePageActions">
	{{#unless gameReady}}
		{{#unless inGame}}
			<a href="#" class="btn btn-success join action-button">Join game</a>
		{{/unless}}
	{{/unless}}

	{{#if gameReady}}
		{{#if ownGame}}
			<a href="#" class="btn btn-success start action-button">Start game</a>
		{{else}}
			Game full!
		{{/if}}
	{{/if}}

	{{#if ownGame}}
	<a href="#" class="btn btn-danger delete action-button">Cancel game</a>
	{{/if}}

	{{#if inGame}}
	<a href="#" class="btn btn-danger leave action-button">Leave game</a>
	{{/if}}

	<h4>Players:</h4>
	<ul>
	{{#each players}}
		<li>{{author}}</li>
	{{/each}}
	</ul>
</template>
