.login {
   padding-top: 15px;
}

.footer {
	margin-top: 25px;
	min-height: 40px;
}

.users-pill {
	margin: 5px;
}

.action-button {
	margin: 5px;
}

.chat{
  position:relative;
  margin:0 auto;
  overflow:hidden;
  margin-bottom: 10px;
}
.chat .messages{
  width:100%;
  height:300px;
  overflow:hidden;
}
.chat .messages:hover{
  overflow-y:scroll;
}
.chat .messages > div{
  padding:5px;
}

#board {
  height: 600px;
  width: 600px;
  background-image: url('/Blast_Furnace.board.png');
  background-size: 100% 100%;
}
