template(name="usersPill")
  each usersOnline
    if profile
      if status.idle
        span.users-pill.label.label-warning #{profile.name}
      else
        span.users-pill.label.label-success #{profile.name}
    else
      each emails
        if status.idle
          span.users-pill.label.label-warning #{address}
        else
          span.users-pill.label.label-success #{address}
