template(name="cards")
  h3 
    | cards
  h5
    | play
    each playedCards
      != this
  br
  h5
    | available
    each availableCards
      != this
  a.btn.btn-primary.playBtn.disabled play cards
  br
  br
