template(name="cards")
  if showCards
    h3 
      | cards
    h5
      | play
      each playedCards
        != this
    br
    h5
      | available
      each availableCards
        != this
    if showPlayButton
      a.btn.btn-primary.playBtn.disabled play cards
  br
  br
