template(name="applicationLayout")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='You are brilliant. You are powerful. You are sophisticated. You are BORED. The ultimate unofficial RoboRally board game fan site.')
    meta(name='author', content='Marcel Panse')
    title RoboRally
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="{{pathFor 'home.page'}}") RoboRally
          .fb-like(data-href="https://www.facebook.com/roborallyonline", data-layout="button_count", data-action="like", data-show-faces="true", data-share="true")
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='/')
            li.page-scroll
              a(href="{{pathFor 'gamelist.page'}}") Games
            li.page-scroll
              a(href="{{pathFor 'ranking.page'}}") Ranking
            li.page-scroll
              +loginButtons
    header
      .container
        .row
          .col-md-8
            +yield
          .col-md-4.well
            +yield("rightPanel")
            +yield("rightPanel2")
            +yield("rightPanel3")
    // Footer
    #fb-root
    footer.text-center
      .footer-below
        .container
          .row
            .col-lg-12
              +usersPill
              h6.pull-right.small
                i.fa.fa-youtube-play
                a(href="https://youtu.be/0l8Y-L5IZLE", target="_blank")
                  | tutorial video
                i.fa.fa-book(style="padding-left: 10px")
                a(href="/roborally-manual.pdf", target="_blank")
                  | game rules PDF
  +tooltips
