template(name="boardLayout")
  head
    title RoboRally
  body
    .container
      .row
        .col-md-8
          +yield
        .col-md-4
          +yield("gameState")
          +yield("chat")
      .row
        .col-md-8
          +yield("cards")
