template(name='home')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='You are brilliant. You are powerful. You are sophisticated. You are BORED. Free-to-play online multiplayer RoboRally!')
    meta(name='author', content='Marcel Panse')
    title RoboRally
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') RoboRally
          .fb-like(data-href="https://www.facebook.com/roborallyonline", data-layout="button_count", data-action="like", data-show-faces="true", data-share="true")
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#online') Play online
            li.page-scroll
              a(href='#images') Images
            li.page-scroll
              a(href='#about') About
    // Header
    header
      .container
        .row
          .col-lg-12
            .intro-text
              span.name RoboRally
              hr.star-light
              span.skills You are brilliant. You are powerful. You are sophisticated. You are BORED.
    // Online Section
    section#online
      .container
        .row
          .col-leg-12.text-center
            h2 Play online
            hr.star-primary
            p
              | Welcome at RoboRally online! RoboRally online is 100% free to play. This is an online version of the original board game from Wizards of the Coast.
              | RoboRally is a fun game full of chaos. It's all about programming your robots to pass checkpoints and seeing what happens next as they run into each other and lots of obstacles. Tons of fun.
              | This online version is created by a bunch of fans, just for fun. We hope you will enjoy it.
            br
            a(href="{{pathFor 'gamelist.page'}}").btn.btn-primary.btn-xlg Play RoboRally online!
            br
            br
            p.small(style="text-align: center")
              | ..or are you looking to 
              a(href='http://www.amazon.com/gp/product/B0009HLSP0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0009HLSP0&linkCode=as2&tag=robo05-20&linkId=76DVIH2ULESBX477') buy the boardgame?
    // Portfolio Grid Section
    section#images
      img.img-responsive.home(src='/roborally-photo.jpg')
    // About Section
    section#about.success
      .container
        .row
          .col-lg-12.text-center
            h2 About
            hr.star-light
        .row
          .col-lg-4.col-lg-offset-2
            p
              | Imagine that you're a supercomputer. Now imagine that you're bored. So you dream up a little contest for you and a couple of your buddies. Your task is to move one of the stupid little robots out on the factory floor through a series of checkpoints. The wrinkle, however, is that the factory floor is filled with all kinds of inconvenient (if not down-right deadly) obstacles located in various locations. But the real fun comes when the robots cross each other's path, and suddenly your perfect route is something less than that..
          .col-lg-4
            p
              | In RoboRally players each control a different robot in a race through a dangerous factory floor. Several goals will be placed on the board and you must navigate your robot to them in a specific order. The boards can be combined in several different ways to accommodate different player counts and races can be as long or as short as player's desire.
              | RoboRally is a multiplayer turn based strategy game.
    #fb-root
    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Board Game
              p
                | You can buy the official board game at
                a(href='http://www.amazon.com/gp/product/B0009HLSP0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0009HLSP0&linkCode=as2&tag=robo05-20&linkId=76DVIH2ULESBX477') Amazon.com
                img(src='https://ir-na.amazon-adsystem.com/e/ir?t=robo05-20&l=as2&o=1&a=B0009HLSP0' width='1' height='1' border='0' alt='' style='border:none !important; margin:0px !important;')
            .footer-col.col-md-4
              h3 Donate
              p
                form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                  input(type="hidden" name="cmd" value="_s-xclick")
                  input(type="hidden" name="hosted_button_id" value="M6AQ9FG87WE62")
                  input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
                  img(alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1")
            .footer-col.col-md-4
              h3 About RoboRally.com
              p
                | This is an unofficial fansite created just for fun because we love the game!
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © RoboRally.com 2015 (info@roborally.com)
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
