template(name="_tiles")
  each rows
    each this
      span.tile(style="background-image: url('#{this.path}'); {{rotate direction}}" data-tooltip-direction="w" data-tooltip= description)
        each items
          img.board-item(src= path, style="position: absolute; {{rotate direction}}" data-tooltip-direction="s" data-tooltip= description)
