template(name="_tiles")
  each rows
    each this
      span.tile(style="background-image: url('#{this.path}'); #{this.orientation_css}" data-toggle="tooltip" data-placement="left" data-container="body" title= description)
        each items
          img.board-item(src= path, style="position: absolute; #{style}" data-toggle="tooltip" data-placement="bottom" data-container="body" title= description)
        if this.finish
          img.board-item(src='/finish.png', data-toggle="tooltip" data-placement="bottom" data-container="body" title="Make sure to hit the checkpoints before finishing and win the game!")        
        if this.checkpoint
          .checkpoint(class="{{visited_checkpoint this.checkpoint}}", data-toggle="tooltip" data-placement="bottom" data-container="body" title="This is checkpoint no.#{this.checkpoint}.")
            = this.checkpoint

        if ../../show_start
          if this.start
            if leq this.start ../../show_start
              img.board-item(src='/start.png', data-toggle="tooltip" data-placement="bottom" data-container="body" title="Spawnpoint, you will respawn here if you die.")


