template(name="board")
  p Game: #{name}

  #board
    span.glyphicon.glyphicon-arrow-up(style="color: blue; #{positionBlue}")
    span.glyphicon.glyphicon-arrow-up(style="color: red; #{positionRed}")
