template(name="board")
  if gameEnded
    .well
      h3 Game over
      hr.star-well
      h4 #{game.winner} has won the game!
  else
    #board
      each tiles
        each this
          span.tile(style="background-image: url('#{this.path}')")
            if this.finish
              img.board-item(src='/finish.png')
            if this.start
              img.board-item(src='/start.png')
      br
      div#r1(style= positionBlue)
        img(src='/robot_1_500.png', style= directionBlue)
      div#r2(style="#{positionYellow}")
        img(src='/robot_2_500.png', style= directionYellow)
  .myRobot
    unless gameEnded
      img#robot(src='/robot_#{getRobotId}_500.png') 
      i.fa.fa-arrow-left  This is your robot
    if inGame
      a.btn.btn-danger.cancel Leave game
